<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for contacting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 5% 10%;
            padding: 5% 5%;
        }
    </style>
</head>

<body>
    <h1 style="color: blue;">Thanks for Contacting Us</h1>
    <br>
    <br>
    <h4>Dear
        <%= udata.uname %>,</h4>
    <br><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus illo, ullam dolores porro inventore voluptate nam hic recusandae rerum? Est debitis odio inventore aperiam neque tempore nobis vitae recusandae dolore.
    </p>
    <br><br>
    <h5>Thanks & Regards</h5>

    <h5>GANA</h5>
    <br><br><br><br>
    <center>
        <a href="#home">home </a> &nbsp;
        <a href="About.html">About us</a> &nbsp;
        <a href="#ob">Original Bookings</a> &nbsp;
        <a href="#up">Upcoming Projects</a> &nbsp;
        <a href="contact.html">contact us</a> &nbsp;
        <br> © Copyright 2020 - Sandeep. All rights reserved.
    </center>
</body>

</html>