<%- include("../partial/header") %>

    <section>
        <br>
        <table bgcolor="black " width="100% ">
            <tr>
                <td>
                    <a name="ob"></a>
                    <font color="red ">
                        <center>About Us</center>
                    </font>
                </td>
            </tr>
        </table>
        <br>
        <img src="/img/dlf-full-view.png" " width="100% ">
        <center><h2> <i> Improving the <br>
                quality of everyday life </i> </h2></center>
        <div>
            <p style="text-align: center; font-size: x-small; padding-left: 35pt; padding-right: 35pt; " >
                    <br> 
                With beauty being our focal point, Gana Associates is always ready to play its <br> part to uplift the living standards and elevate the quality of everyday life. <br> The will to do more, no matter what we have achieved up till now. <br> These two aspects drive us to make luxurious properties across <br> India available to common people who are wiling to <br> better their and their’s families life.
            </p>
        </div>
    
    </section>

    <%- include("../partial/footer ") %>