<%- include("../partial/header") %>
    <section>
        <img src="/img/dlf-2.jpg " alt=" ">
        <center>Capital Greens, DLF, Moti Nagar, Delhi, 11001
            <br> <br> Luxury Homes For Elevated Living </center>
        <center> <img src="/img/btn-hero-hover.png "> </center>
        <br>
        <table bgcolor="black " width="100% ">
            <tr>
                <td>
                    <a name="ob"></a>
                    <font color="red ">
                        <center>ORIGINAL BOOKINGS</center>
                    </font>
                </td>
            </tr>
        </table>
        <br>

        <table bgcolor="white " cellspacing="20px ">
            <tr>
                <td style="width: 50%; "> <img src="/img/dlf-1-l.jpg " width="100% ">
                </td>
                <td>
                    <b> DLF PHASE I, II, II </b>
                    <sup>SHIVAJI MARG, MOTI NAGAR</sup>
                    <br> <br> DLF Capital Greens at Moti Nagar New Delhi is all about the great location, the splendidly garnished palette of advantages, and the lush green surrounding. It is 28 acres of the gated community of elegant 2, 3, and 4 BHK
                    Apartments, inspired from ultra-modern architecture and crafted to perfection.
                    <br> <br>
                    <b>28</b>
                    <sup>ACRES GATED COMMUNIT</sup>
                    <br> <br>
                    <p style="text-align: right; "> <b>2, 3, 4 & 5</b>
                        <sup>BHK</sup>
                    </p>
                    <br> <br>
                    <center> <b>66</b>
                        <sup> ACRES GREEN SPACE</sup> </center>
                    <br>
                    <center> <img src="/img/btn.png " width="40% "> </center>

                </td>
            </tr>
            <tr>
                <td>
                    <b>THE AMARYLLI</b>
                    <sup>KAROL BAGH</sup>
                    <br>
                    <br> The Amaryllis would shine and enhance the landscape of Delhi to unimaginable height. The location, the structure, the amenities, the lifestyle is set to make The Amaryllis add life and zing to the heart of Delhi!
                    <br> <br>
                    <b>TOP</b>
                    <sup>AMENITIES</sup>
                    <br> <br>
                    <p style="text-align: right; ">
                        <b>2, 3, 4 & 5</b>
                        <sup>BHK</sup>
                    </p>
                    <br> <br>
                    <b>LOCATION</b>
                    <sup>KAROL BAGH</sup>
                    <br> <br>
                    <center> <img src="/img/btn.png " width="40% "> </center>
                </td>
                <td style="width: 50%; "> <img src="/img/amaryllis.jpg " width="100% ">
                </td>
            </tr>
            <tr>
                <td style="width: 50%; "> <img src="/img/godrej-south-estate.jpg " width="100% ">
                </td>
                <td>
                    <b> GODREJ SOUTH ESTAT</b>
                    <sup>SOUTH DELHI</sup>
                    <br> Imagine an address that could rede?ne the skyline of South Delhi. One with the stature that towers far above the rest and a copper crown that graces its head. One that comes from intricate design and a deep understanding of what
                    luxury truly is. An address that takes even the air you breathe to a whole new
                    <br> <br>
                    <b> 4</b>
                    <sup>TOWERS</sup>
                    <br> <br>
                    <p style="text-align: right; ">
                        <b> PRIVATE</b>
                        <sup>GARDEN</sup>
                    </p>
                    <br> <br><b>TROPICAL</b>
                    <sup>LANDSCAP</sup>
                    <br> <br>
                    <center> <img src="/img/btn.png " width="40% "> </center>


                </td>
            </tr>
        </table>
        <table bgcolor="red " width="100% ">
            <tr>
                <td>
                    <a name="up"></a>
                    <font color="white ">
                        <center>UPCOMING PROJECTS</center>
                    </font>
                </td>
            </tr>
        </table>
        <table bgcolor="white " cellspacing="20px ">
            <tr>
                <td style="width: 50%; "> <img src="/img/dlf-top-view.jpg " width="100% ">
                </td>
                <td>
                    <b>DLF MIDTOWN</b>
                    <sup>SHIVAJI MARG, MOTI NAGAR</sup>
                    <br> DLF Midtown is all about luxurious living and lavish outdoors, retail outlets and recreational spots. It is actually a city within a city. Located exactly adjacent to DLF Phase I, II and III at Shivaji Marg, Moti Nagar, DLF Midtown
                    is the best property in Central Delhi. About 100 acres of green space for great living experience
                    <br> <br>
                    <img src="/img/GIC.png " width="30% ">
                    <sup>JOINT VENTURE PARTNER</sup>
                    <br> <br>
                    <p style="text-align: right; ">
                        <sup>ARCHITECT</sup>

                        <img src="/img/DPA.png " width="30% ">

                    </p>

                    <center> <img src="/img/btn.png " width="40% "> </center>
                </td>
            </tr>

        </table>
    </section>
    <%- include("../partial/footer") %>