<footer>
    <br>
    <table bgcolor="black " width="100% ">
        <tr>
            <td>
                <font color="white ">
                    <center>
                        <a href="#home">home </a> &nbsp;
                        <a href="About.html">About us</a> &nbsp;
                        <a href="#ob">Original Bookings</a> &nbsp;
                        <a href="#up">Upcoming Projects</a> &nbsp;
                        <a href="contact.html">contact us</a> &nbsp;
                        <br> © Copyright 2020 - Sandeep. All rights reserved.
                    </center>
                </font>
            </td>
        </tr>
    </table>
</footer>
</body>

</html>